= partial 'header'

%section.donation-info
  %h2 Although it's a pretty neat idea, Radio Comb probably isn't the best use of your ${ price }, Instead why not <span class="donation-info-message">donate ${ price } to a cool charity or non profit</span>?

  %section.charities
    %h3 Here are some charities and non profit organisations I personally really like:

    %ol.charities-list
      %li.charities-list-item
        .charities-list-item-link
          = link_to 'http://wikimediafoundation.org/wiki/WMFJA085/en' do
            %img{:src => 'images/wikimedia.jpg'}
        .charities-list-item-description Wikimedia runs Wikipedia. Wikipedia is the #5 site on the web and serves 454 million different people every month – with billions of page views.
        = link_to 'Donate to Wikimedia', 'http://wikimediafoundation.org/wiki/WMFJA085/en', :class => 'charities-list-item-button'

      %li.charities-list-item
        .charities-list-item-link
          = link_to 'https://www.charitywater.org/donate/' do
            %img{:src => 'images/charity_water.jpg'}
        .charities-list-item-description charity: water is a non-profit bringing clean and safe drinking water to people in developing nations. With 100% of public donations can fund water projects.
        = link_to 'Donate to charity: water', 'https://www.charitywater.org/donate/', :class => 'charities-list-item-button'

      %li.charities-list-item
        .charities-list-item-link
          = link_to 'http://donate.worldvision.org/' do
            %img{:src => 'images/world_vision.jpg'}
        .charities-list-item-description World Vision is a Christian humanitarian organization dedicated to working with children, families and their communities worldwide to reach their full potential by tackling the causes of poverty and injustice
        = link_to 'Donate to World vision', 'http://donate.worldvision.org/', :class => 'charities-list-item-button'

      %li.charities-list-item
        .charities-list-item-link
          = link_to 'https://support.worldwildlife.org/site/SPageServer?pagename=donate_to_charity' do
            %img{:src => 'images/wwf.jpg'}
        .charities-list-item-description The World Wide Fund for Nature (WWF) is an international non-governmental organization working on issues regarding the conservation, research and restoration of the environment.
        = link_to 'Donate to WWF', 'https://support.worldwildlife.org/site/SPageServer?pagename=donate_to_charity', :class => 'charities-list-item-button'

    %h3.other-charities
      Or:
      = link_to 'Search for charities you might like', 'http://www.charitynavigator.org/', :class => 'other-charities-link'
