!!!
%html
  %head
    :sass
      #{ File.read(File.open(File.dirname(__FILE__) + '/stylesheets/normalize.sass')) }
      #{ File.read(File.open(File.dirname(__FILE__) + '/stylesheets/radio.sass')) }
    %title Radiocomb
  %body
    #container
      = partial 'header'

      %section.price-survey
        %h2 To make the product a reality, we need to ask the question: <span class="price-survey-question">How much is a Radio Comb worth to you?</span>

        %form.price-survey-form
          %label.price-survey-label{ for: 'price' } $USD
          %input.price-survey-input{ id: 'price', name: 'price', type: 'number', value: 20, min: 1, step: 'any'}
          %input.price-survey-submit{ type: 'submit', value: 'Submit' }

      #layout_footer
    %footer
      = link_to 'Video from 8 out of 10 cats on Channel 4', 'http://www.channel4.com/programmes/8-out-of-10-cats'

  %script{ id: 'donation-template', type: 'text/template' }
    = partial 'donation_template'
  :coffeescript
    #{ File.read(File.open(File.dirname(__FILE__) + '/javascripts/radio.js.coffee')) }
