!!!
%html
  %head
    = stylesheet_link_tag 'radio'
    %title Radio Comb
  %body
    #container
      = partial 'header'
      %section.video
        = partial 'video'

      %section.price-survey
        %h2 To make the product a reality, we need to ask the question: <span class="price-survey-question">How much is a Radio Comb worth to you?</span>

        %form.price-survey-form
          %label.price-survey-label{ for: 'price' } $ USD
          %input.price-survey-input{ id: 'price', name: 'price', type: 'number', value: 5, min: 1}
          %input.price-survey-submit{ type: 'submit', value: 'Submit' }

      #layout_footer
    = partial 'footer'

  %script{ id: 'donation-template', type: 'text/template' }
    = partial 'donation_template'
  = javascript_include_tag 'radio'
