!!!
%html
  %head
    %title Radio Comb
  %body
    = partial 'header'

    %section.general-info
      %h3 Wouldn't it be great if your comb had an inbuilt radio?

    %section.video
      = partial 'video'

    %section.price-survey
      %h4 To make this product a reality, we need your help with a simple question
      %h4 How much would realistically pay for a Radio Comb?

      %form
        %label{ for: 'price' } $ USD
        %input{ id: 'price', name: 'price', type: 'number', value: 5, min: 1}
        %input{ type: 'submit', value: 'Submit' }

    %script{ id: 'donation-template', type: 'text/template' }
      = partial 'donation_template'


    = partial 'footer'

  = javascript_include_tag 'radio'
